<!-- {% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block content %}My awesome profile{% endblock %}</title>
</head>
<body>
    <form class="container" action="http://localhost:8000/accounts/profile/view/" method="POST">
        {% csrf_token %}
        <label for="input-firstname"> First Name </label>
        <input id="input-firstname" type="text" name="first_name" />
        <label for="input-lastname"> Last Name </label>
        <input id="input-lastname" type="text" name="last_name" />
        <label for="input-email"> Email </label>
        <input id="input-email" type="email" name="email" />
        <label for="input-password"> Password </label>
        <input id="input-password" type="password" name="password1" />
        <label for="input-repeat-password"> Repeat password </label>
        <input id="input-repeat-password" type="password" name="password2" />
        <button type="submit">Update!</button>
      </form>
      <br>
{% for error in errors %}
<h2>{{ error }}</h2>
{% endfor %}
</body>
</html> -->
<form class="container" action="http://localhost:8000/accounts/profile/view/" method="POST">
    {% csrf_token %}
    {% for field in form %}
    {{ field.label_tag }}{{ field }}<br>
{% if field.errors %}
{% for error in field.errors %}
{{ error }}<br>
{% endfor %}
{% endif %}
{% endfor %}
<button type="submit">Update!</button>
{% for error in errors %}
    <h2>{{ error }}</h2>
{% endfor %}
</form>