/*
 * style.css
 *
 * CSC309 Assignment 1
 * 
 * University of Toronto
 * Fall 2023
 *
 */
 * {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #BBBBBB;
}

main {
    grid-area: main;
}

header {
    grid-area: head;
    background-color: #333;
    height: 70px;
    width: 100%; 
}

footer {
    width: 100%;
    grid-area: foot;
    background-color: #333;
    color: white;
    height: 3rem;
    text-align: center;
}

header ul {
    list-style-type: none;
}

header li {
    display: inline;
}

header ul li a {
    border-radius: 0;
    color: #00b8d4;
    display: inline-block;
    padding: 22px 1rem 22px 1rem;
    text-decoration: none;
    font-size: 18.2px;
}

#indexhtml {
    padding-left: 22px;
}

p {
    font-size: 14px;
    padding-top: 24px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

h1 {
    color: #333;
    font-weight: bold;
    padding: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 60px;
    font-size: 48px;
}

h2 {
    color: #333;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

h3 {
    color: #333;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 24px;
    font-weight: normal;
}

form {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

input {
    width: 50vw;
    height: 30px;
    font-size: 16px;
    max-width: 90%;
    padding: 0.5rem;
}

textarea {
    width: 50vw;
    max-width: 90%;
    resize: none;
    padding: 0.5rem;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 100%;
}

summary {
    font-size: x-large;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

details ul {
    text-align: left;
    display: inline-block;
    padding: 1rem;
    font-size: large;
}

div embed {
    width: 90%;
    max-width: 720px;
    height: 60vh;
    padding: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
}

div.imgDiv {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: auto;
    padding-top: 128px;
    padding-bottom: 8px;
}

li a:hover, #current_page:hover {
    color: white;
}

button {
    text-align: center;
    margin-top: 2rem;
    height: 32px;
    border-radius: 4px;
    border-color: #007EA8;
    border: 2px solid #007EA8;
    font-weight: 700;
    width: 138px;
    font-size: 16px;
    color: #007EA8;
    background-color: #FFF;
    margin-bottom: 128px;
}

button:hover {
    background-color: #007EA8;
    color: #FFF;
    border: 2px solid #FFF;
    border-color: #FFF;
}

label {
    padding: 0.5rem;
}

.rightlabel {
    width: auto;
    text-align: left;
}

.section {
    display: grid;
    grid-template-areas: 'head'
                         'main'
                         'foot';
    grid-template-columns: auto;
    grid-template-rows: 70px auto 3rem;
    min-height: 100vh;
    width: 100%;
}

.responsive {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 10px;
}

.center {
    display: block;
    text-align: center;
    margin: auto;
}

footer > div {
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.textlabel {
    text-align: right;
    padding-right: 1rem;
    font-weight: 700;
}

details > summary {
    font-size: 18px;
    font-weight: normal;
}

.current_page {
    color: #b2f5ea;
    font-weight: bold;
}

#consent {
    width: initial;
}

#submit {
    margin-left: 0;
}

#email {
    border-radius: 3px;
    border-color: #DDD;
    border-width: 1px;
    border-style: outset;
}

#feedback {
    border-radius: 3px;
    border-color: #DDD;
    border-width: 1px;
    border-style: outset;
}

#emaillink {
    font-family: 'Times New Roman', Times, serif;
}

#about {
    font-size: 46px;
}

#aboutbutton {
    margin-top: 24px;
}

#abouthtml {
    margin-left: -4.9px;
}

#contacthtml {
    margin-left: -5.2px;
}

@media screen and (max-width: 800px) {
    .responsive {
        display: grid;
        grid-template-columns: 90vw;
    }

    input {
        margin: auto;
        width: 100%;
    }
    
    textarea {
        margin: auto;
        width: 100%;
    }
    
    .rightlabel {
        margin-left: auto;
        width: 100v;
        text-align: left;
        background-color: black;
    }

    .textlabel {
        margin-left: auto;
        width: 100v;
        text-align: left;
        background-color: black;
    }

    #submit {
        margin-left: 5vw;
    }
}