/*
 * style.css
 *
 * CSC309 Assignment 1
 * 
 * University of Toronto
 * Fall 2023
 *
 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

main {
    grid-area: main;
    background-color: cornsilk;
}

header {
    grid-area: head;
    background-color: #444;
    height: 5rem;
}

footer {
    grid-area: foot;
    background-color: brown;
    color: white;
    height: 5rem;
}

header ul {
    list-style-type: none;
}

header li {
    display: inline;
}

header ul li a {
    font-weight: bold;
    color: #00b8d4;
    display: inline-block;
    padding: 2rem 1rem 2rem 1rem;
    text-decoration: none;
}

h1 {
    color: chartreuse;
    font-weight: bold;
    padding: 2rem;
    font-size: 60px;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 100%;
}

summary {
    font-size: x-large;
    font-weight: bold;
}

details ul {
    text-align: left;
    display: inline-block;
    padding: 1rem;
    font-size: large;
}

div embed {
    width: 50vw;
    max-width: 720px;
    height: 60vh;
    padding: 1rem;
}

div.imgDiv {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: auto;
    padding-top: 100px;
}

li a:hover, #current_page:hover {
    color: white;
}

button {
    margin-top: 2rem;
    padding: 10px;
}

.section {
    display: grid;
    grid-template-areas: 'head'
                         'main'
                         'foot';
    /* width: 100%;
    min-height: 100vh; */
    grid-template-columns: auto;
    grid-template-rows: 80px auto 5rem;
    min-height: 100vh;
    width: 100%;
}

.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50;
}

#current_page {
    color: #b2f5ea;
}