/*
 * style.css
 *
 * CSC309 Assignment 1
 * 
 * University of Toronto
 * Fall 2023
 *
 */

/* ----STYLES FOR ALL---- */

 * {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.halfrempadding {
    padding: 0.5rem;
    display: flex;
    align-items: flex-start;
}

button, #aboutbutton {
    text-align: center;
    border-radius: 4px;
    border-color: #007EA8;
    border: 2px solid #007EA8;
    font-weight: 700;
    font-size: 16px;
    color: #007EA8;
    background-color: #FFF;
    margin: 9px 20px 8px 20px;
}

#aboutbutton {
    margin-top: 24px;
    width: 122px;
    height: 28px;
    padding-top: 5px;
    text-decoration: none;
    margin-bottom: 128px;
    margin: auto;
    display: block;
}

button:hover, #aboutbutton:hover {
    background-color: #007EA8;
    color: #FFF;
    border: 2px solid #FFF;
    border-color: #FFF;
}

.container {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

label {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* ----STYLES FOR All END---- */

/* ----STYLES FOR HEADING---- */

header {
    grid-area: head;
    background-color: #333;
    display: flex;
    align-items: flex-start;
    height: 70px;
}

.headercontainer {
    padding: 1rem;
    text-align: center;
}

.headercontainer>a {
    color: #00B8D4;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

#currentpage {
    color: #B2F5EA;
    font-style: normal;
    font-weight: 700;
}

#currentpage:hover {
    color: white;
}

.headercontainer>a:hover {
    color: white;
}

/* ----STYLES FOR HEADING END---- */

/* ----STYLES FOR BODY---- */

body {
    background-color: #BBBBBB;
}

main {
    grid-area: main;
    padding-bottom: 3rem;
}

.image {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: 128px 16px 16px 16px;
    margin-left: auto;
    margin-right: auto ;
    overflow: hidden;
    /* background-image: url("Foot_Phone.jpg"); */
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 100%;
    overflow: hidden;
}

/* ----STYLES FOR BODY END---- */

/* ----STYLES FOR FOOTER---- */

footer {
    grid-area: foot;
    background-color: #333;
    color: white;
    height: 3rem;
    text-align: center;
    width: 100%;
    bottom: 0%;
    position: absolute;
}

#footertext {
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 14px;
}

/* ----STYLES FOR FOOTER END---- */

/* ----STYLES FOR INDEX---- */

#greeting {
    padding: 17px;
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 14px;
}

#description {
    color: #333;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 2px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 48px;
}

/* ----STYLES FOR INDEX END---- */

/* ----STYLES FOR ABOUT---- */

#aboutme {
    color: #333;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 128px;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
}

details {
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 1rem;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 24px;
}

details ul {
    text-align: left;
    display: inline-block;
    padding: 1rem;
}

#acknowledgement {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
}

embed {
    padding-bottom: 128px;
}

#pdf {
    padding-top: 23px;
    min-height: 60vh;
    height: 60vh;
    max-height: 60vh;
    width: 100%;
    max-width: 720px;
    margin: auto;
    display: block;
    margin-bottom: 128px;
}

/* ----STYLES FOR ABOUT END---- */

/* ----STYLES FOR CONTACT---- */

#fullname {
    color: #333;
    text-align: center;
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 15px;
}

#emaillink {
    padding-top: 15px;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

#emaillink>a {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

form {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 128px;
}

.responsive {
    display: grid;
    grid-template-areas: 'email emailinput'
                         'feedback feedbackinput'
                         'attachments attachmentinput'
                         'consentinput consent'
                         'spacer submit';
    grid-template-columns: auto auto;
}

#emaillabel {
    text-align: right;
    padding-top: 16px;
}

#emaillabel>label {
    grid-area: email;
}

#emailinput {
    padding-left: 0.8rem;
    padding-bottom: 1rem;
}

#emailinput>input {
    width: 609px;
    grid-area: emailinput;
    border-radius: 3px;
    border: 1px solid #DDD;
    padding: 0.8rem;
}

#feedbacklabel {
    text-align: right;
    padding-top: 6px;
}

#feedbacklabel>label {
    grid-area: feedback;
}

#feedbackinput {
    padding-left: 0.8rem;
}

#feedbackinput>textarea {
    width: 609px;
    height: 95px;
    grid-area: feedbackinput;
    border-radius: 3px;
    border: 1px solid #DDD;
    resize: none;
    padding: 0.8rem;
}

#attachmentlabel {
    text-align: right;
    padding-top: 24px;
}

#attachmentlabel>label {
    grid-area: attachments;
}

#attachmentinput {
    padding-top: 16px;
    padding-left: 0.8rem;
}

#attachmentinput>input {
    width: 609px;
    grid-area: attachmentinput;
    padding: 14px;
    border-radius: 3px;
    border: 1px solid #DDD;
    padding: 0.8rem;
}

#consentinput {
    display: flex;
    justify-content: right;
    padding-top: 32px;
}

#consentinput>input {
    grid-area: consentinput;
    transform: scale(1.5);
}

#consentlabel {
    color: #333;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 0.5rem;
    padding-top: 32px;
    text-align: left;
}

#consentlabel>label {
    grid-area: consent;
    padding-left: 4px;
}

#spacer {
    grid-area: spacer;
}

#sub {
    grid-area: submit;
    padding-top: 16px;
    text-align: left;
    width: 140px;
}

#sub>button {
    font-size: 14px;
    margin: 0 auto;
    margin-top: 16px;
    display: block;
}


@media screen and (max-width: 800px) {
    .responsive {
        display: grid;
        grid-template-areas: 'email' 
                             'emailinput'
                             'feedback' 
                             'feedbackinput'
                             'attachments'
                             'attachmentinput'
                             'consentinput'
                             'consent'
                             'submit'
                             'spacer';
        grid-template-columns: auto;
        max-width: 100%;
    }

    #emaillabel {
        text-align: left;
        padding-left: 0.4rem;
        padding-bottom: 8px;
        margin-left: 7px;
    }

    #emailinput>input {
        width: 395.5px;
    }

    #feedbacklabel {
        text-align: left;
        padding-left: 0.4rem;
        padding-bottom: 8px;
        margin-left: 7px;
    }

    #feedbackinput>textarea {
        width: 395.5px;
    }

    #attachmentlabel {
        text-align: left;
        padding-left: 0.4rem;
        margin-left: 7px;
    }

    #attachmentinput>input {
        width: 395.5;
    }

    #consentinput {
        justify-content: left;
        padding-left: 0.8rem;
        margin-left: 4px;
    }

    #consentlabel>label {
        padding-left: 5px;
    }

}

/* ----STYLES FOR CONTACT END---- */