a.btn-link,
input.login-btn {
    font-size: 1.2rem;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
    padding: 0.3rem;
    border-radius: 5px;
    border-color: #334226;
    background-color: #334226;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    display: inline-block;
    width: 50%;

}

a.btn-link:hover,
input.login-btn:hover {
    transform: scale(1.1);
    color: whitesmoke;
}